[flake8]
exclude = __init__.py,.cache,.env,env,devops,migrations,__pycache__,tests,settings.py,playground,.venv
import-order-style = smarkets
ignore = C901,D400,D100,D205,D105,D401
max-line-length = 120
max-complexity = 10
