{% extends "basic.html" %}
{% load static %}

	{% block head %}


{% endblock %}




{% block body %}


    

    <h1 class="display-4"></h1>
    <p class="lead">
 
                
  
     {% if user.is_authenticated %}

     
     {% else %}

   
     <div class="py-5 text-center fon-image">
    <div class="container">
      <div class="row">
        <div class="col-10 bg-white p-5 mx-md-0 col-lg-6 col-md-1 mx-auto mr-5 ml-5" style="">
          <img class="img-fluid d-block rounded-circle w-50 mx-auto" src="{% static 'theme/img/doctor.png' %}">
          <h1>Доктор</h1>
          <a class="btn btn-primary" href="{% url 'sign_in_doctor' %}">Войти</a>
        </div>
        <div class="col-10 bg-white mx-md-0 col-md-10 col-lg-6 mx-5 ml-4 mr-4 px-3 pl-5 p-5" style="">
          <img class="img-fluid d-block rounded-circle w-50 mx-auto" src="{% static 'theme/img/patient.jpg' %}">
          <h1>Пациент</h1>
          <a class="btn btn-primary" href="{% url 'sign_in_patient' %}">Войти</a>
        </div>
      </div>
    </div>
  </div>



    

    {% endif %}

<br><br>




<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
   
<center>
  <h1>Авторизация</h1>
  </center>
<br><br>



    </div>
  </div>
</div>



<!-- Large modal -->

<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
<center>
  <h1>Регистрация</h1>
  </center>
<center>
<form>
    <div class="container">
 <div class="row">


<div class="col-10  p-5 mx-md-0 col-lg-6 col-md-1 mx-auto mr-5 ml-5" style="">
          <img class="img-fluid d-block rounded-circle w-50 mx-auto" src="{% static 'theme/img/doctor.png' %}">
          <h1>Доктор</h1>
          <a class="btn btn-primary" href="{% url 'signup_doctor' %}">Зарегистрироваться</a>
        </div>

 <div class="col-10  mx-md-0 col-md-10 col-lg-6 mx-5 ml-4 mr-4 px-3 pl-5 p-5" style="">
          <img class="img-fluid d-block rounded-circle w-50 mx-auto" src="{% static 'theme/img/patient.jpg' %}">
          <h1>Пациент</h1>
          <a class="btn btn-primary" href="{% url 'signup_patient' %}">Зарегистрироваться</a>
        </div>
 

 
  </div>
  </div>
</form>
</center>

    </div>
  </div>
</div>




  

  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0 footer-text">© 2022 Медицинская рекомендатеьная система</p>
        </div>
      </div>
    </div>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    




    
{% endblock %}
