{% extends "basic.html" %}
{% load static %}

 
    {% block head %}
    
{% endblock %}




{% block body %}



<div class="fon-image">

<div class="container ">
<center><h2>Добро пожаловать! {{user.doctor.name}}</h2>
</center><br>




    <div class="row">



        <div class="col-10" >
             
            <div class="row">
             
             </div>
                <div>
                  <table class="table table-hover table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th>ФИО</th>
                      <th>Электронная почта </th>
                   <th>Профиль доктора</th>
                   <th>Прогнозируемое название болезни</th>
                   <th>Дата консультации</th>
                   <th>Статус консультации</th>
                   <th>Перейти на консультацию</th>
                </tr>
              </thead>

              <tbody>
               
               {% for i in consultation %}
               
               
                <tr>
                  <td>{{i.doctor.name}}</td>
                  <td>{{i.doctor.user.email}}</td>
                  <td>
                  
                    <form action="{% url 'dviewprofile' i.doctor.user.username %}" method="GET">
                      {% csrf_token %} 
                       <button type="submit" class="btn btn-primary">view profile</button>  
                    </form>

                  </td>

                  <td>{{i.diseaseinfo.diseasename}}</td>
                  <td>{{i.consultation_date}}</td>
                  <td>{{i.status}}</td>

                  <td>
                    
                      <form action="{% url 'consultationview' i.id %}" method="GET">
                          {% csrf_token %} 
                           <button type="submit" class="btn btn-primary"> Consult</button>  
                        </form>
    
                  </td>
                </tr>


                {% endfor %}

              
              </tbody>
            </table>
                </div>

             
                   
    
                
    
               </div>    


                       <div class="col-2" >

            <div class="card" style="width:350px">
              
                <div class="card-body">
                  <h4 class="card-title"> ФИО : {{user.doctor.name}}</h4>
                
                  <p class="card-text"> Email - {{user.email}}</p>
                  <a href="{% url 'dviewprofile' user.username %}" class="btn btn-primary">Редактировать</a>
                </div>
              </div>

        </div>  
    
            </div>
        </div>
    
    <script>
    
    
      $(document).ready(function() {
    
        $('#submit').click( function(event){
      
          $.ajax({
              url :"{% url 'post_feedback' %}",
              type : "POST",
              data : { feedback : $('#feedback').val(),
              csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
             },
      
              success : function(data){
                  alert(data);
              }
          });
      
      
      });
          
       });
    
    </script>
    
      
  
{% endblock %}